.LoadSpinner {
  --spinnerSize: 5em;
  height: 50vh;
  display: grid;
  place-items: center;
}

.spinner {
  width: var(--spinnerSize);
  height: var(--spinnerSize);
  border: 6px solid var(--midGray);
  border-top: 6px solid var(--primaryGreen);
  border-radius: 50%;
  animation: spin 0.6s cubic-bezier(.39,.66,.72,.78) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}