.Header {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #333;
  text-align: center;
}

.Header h1 {
  font-variant: small-caps;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
}