.MovieListItem {
  border-bottom: 1px solid var(--midGray);
  padding: 1em 2em;
}

.MovieListItem:hover {
  background-color: rgba(255,255,255,0.01);
}

.MovieListItem:last-child {
  border-bottom: none;
}

.MovieListItem a {
  text-decoration: none;
  color: var(--white);
}

.MovieListItem a:hover {
  text-decoration: underline;
  color: var(--primaryGreen);
}

.MovieListItem span {
  padding: 0 0.5em;
  margin-left: 1em;
  border-radius: 2px;
  border: 1px solid var(--darkGreen);
  background-color: var(--primaryGreen);
  color: var(--darkGreen);
  font-size: 14px;
}