.MovieDetails {
  margin: 2em auto;
}

.details-wrapper {
  display: flex;
  justify-content: center;
}

.details-wrapper > * {
  margin-top: 1em;
  padding: 2em;
}

.info h2 {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--midGray);
  font-size: 32px;
}

.info h3 {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}

.info p {
  margin-bottom: 1em;
}

.votes {
  margin: 1em 0;
  text-align: center;
}

.vote-button {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  width: 12em;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.vote-button span {
  margin-left: 0.4em;
}

.upvote {
  background-color: var(--darkGreen);
  color: var(--white);
}

.upvote:hover {
  background-color: var(--white);
  color: var(--darkGreen);
}

.downvote {
  background-color: var(--red);
  color: var(--white);
}

.downvote:hover {
  background-color: var(--white);
  color: var(--red);
}

.back-link {
  margin: 2em;
  padding: 0.2em 1em;
  border-radius: 6px;
  border: 1px solid var(--darkGreen);
  background-color: var(--primaryGreen);
  color: var(--darkGreen);
  text-decoration: none;
}

.back-link:hover {
  background-color: var(--lightGreen);
}
